html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: #e9f8ff;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  width: clamp(16rem, 90vw, 70rem);
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 40px 30px;
  border-radius: 12px;
  background: white;
}

.form h2 {
  color: rgba(26, 26, 26, 0.7);
  margin: 0 auto 1rem;
}

.form__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 0.6em;
  padding-bottom: 1.25em;
}

.form__div label {
  color: rgba(26, 26, 26, 0.7);
  margin-bottom: 6px;
  font-weight: 600;
}

.form input {
  padding: 8px 12px;
  -webkit-box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  border: 0;
  border-radius: 6px;
}

.form input::-webkit-input-placeholder {
  color: rgba(26, 26, 26, 0.4);
}

.form input:-ms-input-placeholder {
  color: rgba(26, 26, 26, 0.4);
}

.form input::-ms-input-placeholder {
  color: rgba(26, 26, 26, 0.4);
}

.form input::placeholder {
  color: rgba(26, 26, 26, 0.4);
}

.form .radio input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  background: #fcfcfc;
  color: #728095;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.form .radio input:checked {
  color: #fff;
  background: #308ef3;
  -webkit-box-shadow: 0 1px 1px #0000002e;
          box-shadow: 0 1px 1px #0000002e;
}

.form .radio input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.form__div i,
.form__div svg {
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-29%);
          transform: translateY(-29%);
}

.form__div small {
  visibility: hidden;
  color: lightcoral;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form__div.success input {
  -webkit-box-shadow: 0 0 0 1px #00ff0d, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 1px #00ff0d, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
}

.form__div.success .fa-check-circle {
  visibility: visible;
  color: green;
}

.form__div.error input {
  -webkit-box-shadow: 0 0 0 1px red, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 1px red, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
}

.form__div.error .fa-exclamation-circle {
  visibility: visible;
  color: red;
}

.form__div.error small {
  visibility: visible;
}

.btn {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn--submit {
  padding: 0.5em 1.4em;
  margin-left: auto;
  color: #f1eff5;
  background: #308ef3;
  border: 0;
  border-radius: 8px;
}
/*# sourceMappingURL=main.css.map */